<link rel="stylesheet" href="/css/sign-up.css">
<h1 class="sign-up">Sign Up</h1>
<div class="form-container">
<form action="/users/create" method="post">
    <input type="text" name="name" id="" placeholder="Your Name" required>
    <input type="email" name="email" id="" placeholder="Your Email" required>
    <input type="password" name="password" id="" placeholder=" Password" required>
    <input type="password" name="confirm_password" id="" placeholder="Confirm Password " required>
    <button>Sign Up</button>
</form>
</div>

<p>
    <a href="/users/auth/google">Google Sign In || Sign Up</a>
</p>