<link rel="stylesheet" href="/css/sign-in.css">
<h1 class="sign-in">SignIn</h1>
<div class="form-container">


<form action="/users/create-session" method="post">
    <input type="email" name="email" id="email" placeholder="Email" required>
    <input type="password" name="password" id="" placeholder="Password" required>
    <button>Sign In</button>
</form>
</div>
<p>
    <a href="/users/auth/google">Google Sign In || Sign Up</a>
</p>